/* Base styles for Navbar */

.Navbar {
  max-height: 3rem;
  display: flex;
  box-shadow: rgba(69, 74, 80, 0.2) 0px 8px 24px;
  padding: 1em;
  border-radius: 0.1em;
  align-items: center;
  font-family: "Bebas Neue";
  position: sticky;
  transition: all 0.3s ease-in;
  background-color: whitesmoke;
  position: sticky;
}

.Navbar img {
  aspect-ratio: 1/1;
  max-height: 2.5rem;
}

.Navbar h1 {
  margin-left: 0.75em;
}

.Navbar ul {
  display: flex;
  margin-left: auto;
}

.Navbar ul li {
  margin: 0 0.5rem;
  transition: all 0.12s ease-in-out;
  cursor: pointer;
}

.Navbar ul li:hover,
.Navbar ul li:focus {
  color: rgb(0, 110, 255);
  font-size: 1.2em;
}

.hidden {
  display: none;
  transition: all 0.3s ease-in;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 768px) {
  .Navbar {
    display: block;
    max-height: none;
    text-align: center;
  }

  .Navbar h1 {
    margin-left: 0;
    margin-top: 0.5em;

    z-index: 1;
    border-bottom: 1px solid black;
  }

  .Navbar ul {
    margin-top: 0.5em;
    margin-left: 0;
    justify-content: space-around;
  }

  .Navbar ul li {
    margin: 0;
    padding: 0.25em 0;
  }

  .Navbar img {
    visibility: hidden;
    display: none;
  }
}

@media all and (max-width: 350px) {
  .Navbar h1,
  li {
    font-size: 1.25rem;
  }
}
