.Card {
    width: 95%;
    margin: 0 auto;
    padding: .2em;
    margin-bottom: 1.5em;
}

.Card img {
    width: 100%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: .1em;
    
}


@media all and (min-width: 768px){
  
    .Card {
        margin-top: 4em;
        width: 65%;
        text-align: center;
        
    }

    .Card img {
        
        max-height: 21em;
        width: auto;
        max-width: 100%;
        border: 2px solid black;
    }

    
}

@media all and (min-width: 1800px) {
    .Card {
        width: 80%;
                
    }

    .Card img {
        max-height: 60rem;

    }
}